<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="C:\projects\Portfolio\portfolio-website\styles\certificates.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="navbar">
        <h1>Sriram Selvaperumal</h1>
        <h5>III - B.Tech - CSE - D - SRMIST</h5>
    </nav>
    <div id="options">
        <div onclick="window.location.href='home.html';">Details</div>
        <div onclick="window.location.href='skills.html';">Skills</div>
        <div onclick="window.location.href='projects.html';">Projects</div>
        <div onclick="window.location.href='certificates.html';">Certificates</div>
        <div onclick="window.location.href='academics.html';">Academics</div>
    </div>
    <div id="certificates">
        <ol>
            <h1><li> AI Infrastructure and Operations Fundamentals – NVIDIA, Jun 2025
       Credential ID: 2OKBTHOAOZCG</li></h1>
            <h1><li> Database Structures and Management with MySQL – Meta, May 2025
      Credential ID: 02KC0VZKFFKD</li></h1>
            <h1><li> Divide and Conquer, Sorting and Searching, and Randomized Algorithms – Stanford University, May
 2025 - Credential ID: 77S4QP61U9PW</li></h1>
            <h1><li> Fundamentals of Digital Image and Video Processing – Northwestern University, Apr 2025
      Credential ID: 42MSY0YP92ID</li></h1>
            <h1><li> Introduction to Artificial Intelligence (AI) – IBM, Apr 2025
      Credential ID: 0ZY1PHDY52V4</li></h1>
            
        </ol>
    </div>
</body>
</html>
