<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="C:\projects\Portfolio\portfolio-website\styles\home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="navbar">
        <h1>Sriram Selvaperumal</h1>
        <h5>III - B.Tech - CSE - D - SRMIST</h5>
    </nav>
    <div id="options">
        <div onclick="window.location.href='home.html';">Details</div>
        <div onclick="window.location.href='skills.html';">Skills</div>
        <div onclick="window.location.href='projects.html';">Projects</div>
        <div onclick="window.location.href='certificates.html';">Certificates</div>
        <div onclick="window.location.href='academics.html';">Academics</div>
    </div>
    <div id="details">
        <h1>Name : Sriram Selvaperumal M</h1>
        <h1>R.No : RA2311003050104</h1>
        <h1>Course : B.Tech</h1>
        <h1>Department : Computer Science and Engineering</h1>
        <h1>College : SRM Institute of Science and Technology</h1>
        <h1>DOB : 22/10/2005</h1>
        <h1>Institition Email : ss3866@srmist.edu.in</h1>
        <h1>Personal Email : sriramselvaperumal@icloud.com</h1>
        <h1>Phone Number : +91 7358695466</h1>
        <h1>Address : 6,Kanniyalar Street,Papanasam,Thanjavur</h1>
        <h1>Pincode : 614205</h1>
    </div>
</body>
</html>
