<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="C:\projects\Portfolio\portfolio-website\styles\skills.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="navbar">
        <h1>Sriram Selvaperumal</h1>
        <h5>III - B.Tech - CSE - D - SRMIST</h5>
    </nav>
    <div id="options">
        <div onclick="window.location.href='home.html';">Details</div>
        <div onclick="window.location.href='skills.html';">Skills</div>
        <div onclick="window.location.href='projects.html';">Projects</div>
        <div onclick="window.location.href='certificates.html';">Certificates</div>
        <div onclick="window.location.href='academics.html';">Academics</div>
    </div>
    <div id="skills">
        <ul>
            <h1><li>Python</li></h1>
            <h1><li>Flask</li></h1>
            <h1><li>Django</li></h1>
            <h1><li>Fast API</li></h1>
            <h1><li>HTML,CSS</li></h1>
            <h1><li>Javascript</li></h1>
            <h1><li>MongoDB</li></h1>
            <h1><li>Express.js</li></h1>
            <h1><li>React</li></h1>
            <h1><li>Node.js</li></h1>
            <h1><li>Version Control using Git</li></h1>
        </ul>
    </div>
</body>
</html>
