*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#navbar{
    width: 100%;
    background-color: white;
    height: 100px;
    display: flex;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#navbar h1{
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    margin-left: 40px;
    display: inline-block;
}
#navbar h5{
    margin-top: 33.5px;
    font-size: 30px;
    margin-left: 30%;
}
#options{
    color: white;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#options div{
    height: 126px;
    width: 300px;
    border: solid 1px white;
    display: flex;        
    justify-content: center;  
    align-items: center;       
    text-align: center;       
    font-size: 30px;   
}
#projects{
    position: absolute;
    color: white;
    left: 30%;
    top: 20%;
}
#options div:hover{
    cursor: pointer;
}
